
.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(63, 60, 60);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 30%;
    padding-top: 5%;  
}
.image{
    border-radius: 10px;
    margin:10px 0px 20px 0px;
}
.recipes{
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.ingredients{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 20px;
}